@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: monospace;

  --color-jaffa: "#e47947";
  --color-mikdado-yellow: #f9c80c;
  --color-lavender-indigo: "#8d51ff";
  --color-amaranth: #e93546;
  --color-dullCyan: #44bbcd;
  --color-aquamarine-blue: #71e6d4;
  --color-fern: #70ad6e;
  --color-eerie-Black: #beed63;
  --color-green-mist: #c5c393;
  --color-sasquatch-socks: #ff4d7f;
  --color-wedgewood: #4c688e;
  --color-sea-pink: #e37f7c;
  --color-tundara: #483c46;
  --color-rose-bud: #f5a698;
  --color-ash-gray: #b4c2b8;
  --color-oracle: #3c6e71;
  --color-camelot: #883a55;
}

@utility center {
  @apply flex items-center justify-center;
}

@utility box {
  @apply border-1 border-zinc-200 dark:border-zinc-800 rounded-md;
}

@layer suggest {
  html,
  body {
    @apply font-sans;
  }

  header {
    @apply mb-10;
  }

  .page-title {
    @apply text-2xl font-bold;
  }

  .page-description {
    @apply text-muted-foreground text-sm;
  }

  .section-title {
    @apply uppercase font-mono text-sm font-bold tracking-wider mb-2;
  }

  .button-group {
    @apply flex items-center gap-x-8;
  }

  .command-group-grid [role="group"] {
    @apply flex flex-wrap;
  }

  .filter-label {
    @apply text-sm text-zinc-400 min-w-[70px] text-right;
  }

  .section-description {
    @apply text-muted-foreground text-sm;
  }

  .field {
    @apply grid w-full items-center gap-1.5;
  }

  aside .separator {
    @apply mt-6 mb-3;
  }

  .editor-preview {
    h1,
    h2,
    h3,
    h4 {
      @apply mb-4;
    }

    h1 {
      @apply text-2xl font-bold;
    }

    h2 {
      @apply text-xl font-bold;
    }

    h3 {
      @apply text-lg font-bold;
    }

    h4 {
      @apply text-base font-bold;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    li {
      @apply ml-4;
    }

    p {
      @apply mb-4;
    }

    a {
      @apply text-violet-500 underline font-bold hover:no-underline hover:text-violet-700;
    }

    blockquote {
      @apply border-l-4 border-zinc-300 pl-4;
    }

    code {
      @apply bg-violet-950 px-1 py-0.5 rounded-md;
    }
  }
}
